packages/*
!packages/repositories.config
*ccfdebug*
*.orig
*.icon
*.svn*
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*[Bb]in
[Dd]ebug*/
obj/
*sass-cache
[Rr]elease*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.svn*
.vs*/
*/packages/*
Help/